{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center fw-bold">
          <h3>Register</h3>
        </div>
        <div class="card-body">
          <form method='post'>
              {% csrf_token %}
              {{ form.as_p }}
              <div class="d-grid">
                <button class="btn btn-success">Create Account</button>
              </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <p class="mb-0">Already registered?
              <a href="{% url 'login' %}">Login here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}