{% extends "layout.html" %}
{% block title %}
Home - Tweetkarr
{% endblock %}

{% block content %}
<h1 class="text-center mt-4 text-primary fw-bold fs-1">Welcome to TweetKarr</h1>

<div class="text-center">
  <a class="btn btn-success mb-4" href="{% url 'tweet_create' %}">+ Create Tweet</a>
</div>
      <form method="get" action="{% url 'tweet_list' %}" class="mb-4">
        <div class="input-group">
          <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control" placeholder="Search tweets..." aria-label="Search tweets" aria-describedby="search-button">
          <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
        </div>
      </form>
<div class="container">

  <div class="row g-4">
    {% if tweets %}
      {% for tweet in tweets %}
        <div class="col-md-4">
          <div class="card shadow rounded h-100">
            {% if tweet.photo %}
              <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image" style="height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text text-secondary">{{ tweet.text }}</p>
              </div>
              {% if tweet.user == user %}
              <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="text-center text-muted mt-4">No tweets available.</p>
    {% endif %}
  </div>
</div>

{% endblock %}